@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Color-Black: hsl(0, 0%, 7%);
  --Color-Dark-blue: hsl(219, 29%, 14%);
  --Color-Grey-100: hsl(214, 17%, 92%);
  --Color-Grey-200: hsl(0, 0%, 81%);
  --Color-Grey-400: hsl(224, 10%, 45%);
  --Color-Grey-500: hsl(217, 19%, 35%);
  --Color-Purple-50: hsl(260, 100%, 95%);
  --Color-Purple-300: hsl(264, 82%, 80%);
  --Color-Purple-500: hsl(263, 55%, 52%);
  --Color-White: hsl(0, 0%, 100%);
  --card-w1: 250px;
  --gap: 30px;
  --img: 36px;
  --width: 530px;
  --width-max: 250px;
  --width-min: 250px;
  --height: 280px;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  display: flex;
  color: var(--Color-White);
}

/* las cajas */
.card {
  color: inherit;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 60px 60px 70px var(--Color-Grey-200);
}

/* los contenedores */
.container-main {
  width: max-content;
  min-width: var(--card-w1);
  /* max-height: max-content; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 100px auto;
  padding: 40px;
}

.container-left {
  width: 810px;
  /* height: max-content; */
  min-width: var(--card-w1);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: var(--gap);
}

.cardh {
  width: var(--width);
  min-width: var(--width-min);
  color: var(--Color-White);
  background-color: var(--Color-Purple-500);
}

.cardc {
  width: var(--width-max);
  min-width: var(--width-min);
}

.card-right {
  width: var(--width-min);
  min-width: var(--width-min);
  color: var(--Color-Black);
  background-color: var(--Color-White);
}

/* informacion de las cards */

.profesional {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profesional__img {
  width: var(--img);
  height: var(--img);
  border-radius: 50%;
  border: 3.2px solid transparent;
}

.cardh .profesional__img {
  border-color: var(--Color-Purple-300);
}

.cardh--black .profesional__img {
  border-color: var(--Color-Purple-500);
}

.cardc--grey {
  background-color: var(--Color-Grey-500);
}

.cardc--white {
  color: var(--Color-Black);
}

.datos .datos__name {
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
  opacity: 0.75;
  color: inherit;
}

.datos .datos__status {
  font-size: 0.7rem;
  letter-spacing: 0.4px;
  opacity: 0.7;
  color: inherit;
}

.cardc .paragraph1 {
  width: 92%;
}

.cardc .paragraph2 {
  /* width: 89%; */
}

.paragraph1 {
  font-size: 1.06rem;
  letter-spacing: 0.6px;
  color: var(--Color-White);
  padding: 20px 0;
  opacity: 0.9;
  color: inherit;
}

.paragraph2 {
  font-size: 0.7rem;
  letter-spacing: 0.6px;
  line-height: 1.6;
  color: var(--Color-White);
  opacity: 0.7;
  color: inherit;
}

/*  dando color */
.cardh--black {
  background-color: var(--Color-Black);
}

@media (width < 1200px) {
  .container-main {
    margin: 40px 30px;
  }
  .card {
    padding: 34px 31px;
    min-width: var(--width-min);
  }
  .datos .datos__name {
    font-size: 0.76rem;
  }
  .datos .datos__status {
    font-size: 0.6rem;
  }
  .paragraph1 {
    font-size: 0.86rem;
  }
  .cardc .paragraph1 {
    width: 100%;
  }
  .paragraph2 {
    font-size: 0.61rem;
    letter-spacing: 0.18px;
  }

  .cardc {
    height: max-content;
  }

  .cardh {
    height: max-content;
  }

  .cardc .paragraph1,
  .cardc .paragraph2 {
    width: 100%;
  }
}
